{% extends 'base.html' %}

{% block auth_content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-6">

        <div class="card shadow border-0">

            <div class="card-body p-5 text-center">

                <h1 class="text-success fw-bold mb-4">
                    ✅ Contraseña actualizada
                </h1>

                <p class="fs-5 mb-3">
                    Tu contraseña fue restablecida correctamente.
                </p>

                <p class="text-muted mb-4">
                    Ya puedes iniciar sesión nuevamente en
                    <strong>Biblioteca Digital</strong>
                    con tu nueva contraseña.
                </p>

                <a
                    href="{% url 'login' %}"
                    class="btn btn-primary px-4"
                >
                    Ir al inicio de sesión
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}