{% extends 'base.html' %}

{% block content %}

<div class="card card-dashboard">

    <div class="card-body">

        <h2 class="mb-4">
            Crear libro
        </h2>

        <form
            method="POST"
            enctype="multipart/form-data"
        >

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary"
            >
                Guardar libro
            </button>

        </form>

    </div>

</div>

{% endblock %}